body{margin:0; padding:0;}
a{text-decoration: none;}
.site-logo{max-width:40px; width:10vw}
.button{border:1px solid #f00; padding:1% 2% 1% 2%}
.input{border:1px solid #f00; padding:2%; width:100%}
*{color:#444}
img{object-fit: contain;}

/*site themes*/
.theme-bg{background-color:#f00}
.theme2-bg{background-color: #fff;}
.site-gradient{background-image:linear-gradient(90deg,#f00,#fff)}
.site-gradient-2{background-image: linear-gradient(90deg,#c8c8ff,#f00);}
.outlined-text{-webkit-text-stroke: 1px #c8c8ff;}

/*menu -items*/
#menu{z-index:10; background-color:#f5f5f5}
#menu-ini{display:none; font-size:20px; cursor:pointer}
.menu{padding:1%}
.menu *{color:#444}
.menu .menu-item{float:left;}
.menu .menu-item.button{padding:0.5% 2%; border-radius: 25px;}
/*small screens*/
body.ss .menu-item.bs{display:none}
body.ss #menu-ini{display:block}
body.ss #menu{justify-content: space-between; padding:2% 4%}
body.ss #ss-menu .menu-item{display:block; margin-top:2%;}
body.ss #ss-menu{position:fixed; width: 100%; z-index: 10; background: #fff; padding: 3%; max-height: 50%;
overflow: auto;
}
body.ss #ss-menu.closed{display:none}

/*footer*/
#footer{border:2px solid #f00; border-radius: 8px;}
#footer .space-up{margin-top:4%}
#footer #footer-items{justify-content: space-evenly;}
#footer a{text-decoration: underline;}
#other{max-width: 500px; justify-content: center;}
#other img{width:100%; max-width: 30px;}
#other a{margin-left:2%}

.dp-large{width:200px; height:200px}
.dp-mid{width:150px; height:150px}

/*layouts*/
.grid-3 .grid-item{
  width:30%;
  margin-left:3%;
  margin-top:3%;
  display:inline-block;
}
@media only screen and (max-width: 700px){
  .grid-3 .grid-item{width:47%}
}
